#root {
  margin: 3rem;
}

.informationTable {
  border-collapse: collapse;
}

.tablecell {
  border: 1px solid gray;
  margin: 0;
  padding: 5px 10px;
  width: max-content;
  min-width: 150px;
}

.tableHeader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sortDirection {
  display: inline-flex;
  cursor: pointer;
  margin-left: 10px;
  flex-direction: column;
}
.arrowUp {
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #999;
}
.arrowDown {
  height: 0;
  width: 0;
  margin-top: 2px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #999;
}

.form .container {
  padding: 20px;
  border: 1px solid #f0f8ff;
  border-radius: 15px;
  width: max-content;
  margin-bottom: 40px;
}
.form .inputs {
  margin-bottom: 5px;
}
.form .submitbtn {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: lightseagreen;
  font-size: 14px;
  border-radius: 5px;
}
